.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  .footer-left p {
    margin: 0;
  }
  
  .footer-center {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .icon {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .icon-link {
    color: #fff;
    margin: 0 5px;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  .icon-link:hover {
    color: #888888;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
  }
  
  .contact-link {
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
  }
  .contact-link:hover {
    color:#888888;
  }

  /* Modal Styles */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #282c34;
    padding: 50px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  
  .modal-content label {
    display: block;
    margin-top: 10px;
  }
  
  .modal-content input,
  .modal-content select,
  .modal-content textarea {
    width: 96%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .send-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  